*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Arial'
    
}
 
body{
    font-family: 'Arial';
    background-color: white;
}

header{
    background-color: white;
    position: relative;
    padding: 1rem;
}

nav a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    text-decoration: none;
}

nav li{
    display: inline;
    margin-left: 0.5rem;
}

li{
    float:left
}

li a{
    text-align: center;
    padding: 14px 16px;
}

main section{
    margin: 1rem auto;
    width: 90%;
}

.my-class{
    color:red;
}

.Home{}

.About .AboutImageVase1{
    float: left;
    margin-right: 3rem;
}

.About .AboutImageVase2{
    float: right;
}

.Products{
}


.MundoBowls{
    
}

.NaturezaVase{
    
}

.FeiraBowls{
    
}

.NaturezaPots{
    
}

.Contact{
    
}

footer{
    background-color: #BF7631;
    text-align: right;
    padding: 3rem;
    text-decoration: none;
}